/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* height: 400px; */
}

.containerImage {
  background-image: url(/img/banner.jpeg);
  background-position-x: center;
  background-position-y: -200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #b88a45;
}

.heroSubtitle{
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .containerImage {
  height: 80vh;
  }
 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .containerImage{
    background-position-y: -34px;
  }
  .heroSubtitle{
    font-size: 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
